<section class="container my-5" style="max-width: 400px;">
  <h2 class="mb-4 text-center">Registro de Usuario</h2>

  <form (ngSubmit)="registrar(registerForm)" #registerForm="ngForm">

    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="text" id="usuario" class="form-control" name="usuario" [(ngModel)]="nuevoUsuario.usuario" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" class="form-control" name="email" [(ngModel)]="nuevoUsuario.email" required>
    </div>

    <div class="mb-3">
      <label for="deporte" class="form-label">Deporte</label>
      <select id="deporte" class="form-select" name="deporte" [(ngModel)]="nuevoUsuario.deporte" required>
        <option value="" disabled selected>Selecciona un deporte</option>
        <option value="Fútbol">Fútbol</option>
        <option value="Baloncesto">Baloncesto</option>
        <option value="Tenis">Tenis</option>
        <option value="Voleibol">Voleibol</option>
      </select>
    </div>


    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" id="password" class="form-control" name="password" [(ngModel)]="nuevoUsuario.password" required>
    </div>

    <div class="mb-3">
      <label for="rol" class="form-label">Rol</label>
      <select id="rol" class="form-select" name="rol" [(ngModel)]="nuevoUsuario.rol" required>
        <option value="usuario">Usuario</option>
        <option value="admin">Admin</option>
        <option value="capitan">Capitán</option>
        <option value="arbitro">Árbitro</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success w-100">Registrarse</button>
  </form>
</section>
