   /*Fondo personalizado para noticias y algún apartado más */
    .fondo-personalizado-noticia {
      background-color: rgba(54, 85, 142, 0.95);
      padding: 1.5rem; 
    }

    .encabezado-personalizado-emergente {
      background-color: #36558e;
    }

     /* Estilo carrusel noticias */
    .carousel-caption {
      position: static !important;
}
