<!-- Aviso -->
<div class="row">
  <div class="col-12">
    <div class="alert shadow mt-4 animate__animated animate__fadeInUp text-white" style="background-color: rgba(54, 85, 142, 0.75);" role="alert">
      Para inscripciones y más deportes disponibles, accede al formulario o contacta con la administración.
      <button class="btn btn-sm btn-light btn-animado ms-2" data-bs-toggle="modal" data-bs-target="#inscripcionModal">
        Inscribirse ahora
      </button>
    </div>
  </div>
</div>

