/* Footer estilo */
    footer {
      background: #212529;
      color: #fff;
    }
    .footer-link {
      color: #adb5bd;
      text-decoration: none;
      margin-right: 16px;
    }
    .footer-link:hover { color: #fff; }
    .carousel-img {
      object-fit: cover;
      height: 320px;
      width: 100%;
    }