<!-- Footer -->
  <footer class="mt-auto py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-2">
          <strong><i class="bi bi-trophy"></i> Liga Deportiva del Instituto</strong><br>
          <span><i class="bi bi-geo-alt"></i>Paseo Universidad, 1, 13005 Ciudad Real</span><br>
          <span><i class="bi bi-envelope"></i>liga@maestre</span>
        </div>
        <div class="col-lg-6 text-lg-end">
          <span>Síguenos:</span>
          <a href="#" class="footer-link"><i class="bi bi-facebook"></i> Facebook</a>
          <a href="#" class="footer-link"><i class="bi bi-instagram"></i> Instagram</a>
          <br>
          <a href="#" class="footer-link">Aviso legal</a>
          <a href="#" class="footer-link">Política de privacidad</a>
        </div>
      </div>
      <div class="text-center mt-3" style="font-size: 0.9em;">
        &copy; 2025 Liga Deportiva del Instituto. Miguel Agustín López Lucendo Honrado
      </div>
    </div>
  </footer>
