    /* Tabla de clasificaciones*/
    .encabezado-futbol {
      background-color: #36558e !important;
    }

    .encabezado-futbol th {
      color: white;
      font-weight: bold;
      text-align: center;
  }

    body {
      padding-top: 70px;
      margin: -5px !important;
    }