  <!-- Modal info equipo 1 -->
  <div class="modal fade" id="modalEquipo1" tabindex="-1" aria-labelledby="modalEquipo1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header fondo-personalizado-noticia text-white">
          <h5 class="modal-title" id="modalEquipo1Label">Los maestres</h5>
          <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <strong>Capitán:</strong>Leticia Aparicio<br>
          <strong>Jugadores:</strong>
          <ul>
            <li> Paco (Delantero)</li>
            <li> Pedro (Mediocampo)</li>
            <li> Pedro Sánchez (Portero)</li>
            <li> Lidia (Defensa)</li>
            <li> Vero (Defensa)</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary btn-animado" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal info equipo 2 -->
  <div class="modal fade" id="modalEquipo2" tabindex="-1" aria-labelledby="modalEquipo2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header fondo-personalizado-noticia text-white">
          <h5 class="modal-title" id="modalEquipo2Label">Balomaestre</h5>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <strong>Capitán:</strong>Miguel Agustin<br>
          <strong>Jugadores:</strong>
          <ul>
            <li>Mario(Base)</li>
            <li>Javier García (Alero)</li>
            <li>Juan (Pivot)</li>
            <li>David(Escolta)</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-warning btn-animado" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal info equipo 3 -->
  <div class="modal fade" id="modalEquipo3" tabindex="-1" aria-labelledby="modalEquipo3Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header fondo-personalizado-noticia text-white">
          <h5 class="modal-title" id="modalEquipo3Label">Voleimaestre</h5>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <strong>Capitán:</strong>Cruz<br>
          <strong>Jugadores:</strong>
          <ul>
            <li>Lucía (Rematadora)</li>
            <li>Andrés (Colocador)</li>
            <li>Eva (Central)</li>
            <li>Raúl (Líbero)</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-warning btn-animado" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal info equipo 4 -->
  <div class="modal fade" id="modalEquipo4" tabindex="-1" aria-labelledby="modalEquipo4Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header fondo-personalizado-noticia text-white">
          <h5 class="modal-title" id="modalEquipo4Label">Los raquetas</h5>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <strong>Capitán:</strong>Roberto<br>
          <strong>Jugadores:</strong>
          <ul>
            <li>Derecho</li>
            <li>Zurdo</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-warning btn-animado" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>