<!-- Sección de Competiciones -->
<section id="competiciones" class="container my-5">
  <h2 class="mb-4">
    <i class="bi bi-collection-play"></i> Competiciones
  </h2>

  <div class="row g-3">
    <!-- Fútbol -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card card-competicion h-100 animate__animated animate__fadeIn">
        <img src="\assets\img\competitions\futbol-imagen.png" class="card-img-top" alt="Fútbol">
        <div class="card-body">
          <h5 class="card-title">Fútbol</h5>
          <p class="card-text">La competición más multitudinaria de la liga. Abierta para todas las edades.</p>
          <a href="#equipos" class="btn btn-primary btn-animado">Ver equipos</a>
        </div>
      </div>
    </div>

    <!-- Baloncesto -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card card-competicion h-100 animate__animated animate__fadeIn">
        <img src="\assets\img\competitions\imagen-baloncesto.jpeg" class="card-img-top" alt="Baloncesto">
        <div class="card-body">
          <h5 class="card-title">Baloncesto</h5>
          <p class="card-text">Equipos mixtos y gran nivel de competitividad. ¡Participa!</p>
          <a href="#equipos" class="btn btn-warning btn-animado">Ver equipos</a>
        </div>
      </div>
    </div>

    <!-- Tenis -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card card-competicion h-100 animate__animated animate__fadeIn">
        <img src="\assets\img\competitions\tenis-niños.jpg" class="card-img-top" alt="Tenis">
        <div class="card-body">
          <h5 class="card-title">Tenis</h5>
          <p class="card-text">Individual y dobles. Inscripción abierta para todos los cursos.</p>
          <a href="#equipos" class="btn btn-success btn-animado">Ver equipos</a>
        </div>
      </div>
    </div>

    <!-- Voleibol -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card card-competicion h-100 animate__animated animate__fadeIn">
        <img src="\assets\img\competitions\voleibol-niños.jpg" class="card-img-top" alt="Voleibol">
        <div class="card-body">
          <h5 class="card-title">Voleibol</h5>
          <p class="card-text">Competición mixta de rápida progresión. ¡Forma tu equipo!</p>
          <a href="#equipos" class="btn btn-info btn-animado">Ver equipos</a>
        </div>
      </div>
    </div>
  </div>

  <app-notice></app-notice>

</section>


